{
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb"],
  "plugins": ["react"],
  "rules": { "import/no-unresolved": { commonjs: false, amd: false } }
}
